.audience {
    padding: 50px 15px;
    background-color: $color-light-blue;
    @include for-large-up {
        width: 1400px;
        height: 983px;
        margin: auto;
        margin-top: 0;
        width: 100%;
        padding: 0;
    }
    &__details {
        @include for-large-up {
            max-width: 555px;
            margin: 108px auto 0 auto;
        }
    }
    &__subtitle {
        display: block;
        margin: 0 auto;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
    }
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 56px;
        line-height: 40px;
        letter-spacing: -0.375143px;
        margin-top: 17px;
        @include for-large-up {
            line-height: 56px;
            font-size: 56x;
            letter-spacing: -0.5px;
            margin-top: 24px;
        }
        @include for-large-down {
            font-size: 40px;
        }
    }
    &__description {
        display: block;
        margin-top: 18px;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        @include for-large-up {
            margin-top: 30px;
        }
    }
    &__actions {
        margin-top: 30px;
        @include for-large-up {
            display: flex;
            justify-content: center;
        }
    }
    .action-button {
        @include for-large-up {
            width: 160px;
            height: 48px;
        }
        &__secondary {
            margin-top: 12px;
            @include for-large-up {
                width: 158px;
                height: 48px;
                margin-top: 0;
                margin-left: 10px;
            }
        }
    }
    &__actions-btn {
        @include for-large-up {
            width: 100%;
        }
    }
    &__list {
        margin-top: 40px;
        max-width: 1140px;
        @include for-large-up {
            display: flex;
            justify-content: center;
            margin: 111px auto 110px auto;
        }
    }
}

.user-card {
    margin: 0 auto 15px auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: $color-white;
    @include for-large-up {
        width: 262px;
        margin: 0;
        margin-right: 30px;
    }
    &:hover {
        background-color: $color-dark-blue;
        figcaption {
            color: $color-white;
        }
    }
    &__image {
        max-width: 100%;
        margin-top: 22px;
    }
    &__caption {
        margin-top: 22px;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
    }
    &:first-child {
        margin-top: 40px;
        @include for-large-up {
            flex: 1;
            margin-top: 0;
        }
    }
    &:last-child {
        margin-bottom: 0px;
        @include for-large-up {
            flex: 1;
            margin-top: 0;
            margin-right: 0;
        }
    }
}