.customers {
    display: flex;
    flex-direction: column;
    @include for-large-up {
        display: none
    }
    &__row {
        display: flex;
    }
    &__logo {
        @include for-large-up {
            max-width: 100%;
        }
        filter: brightness(0);
        max-width: 80%;
    }
    &__item {
        @include for-large-up {
            display: none
        }
        height: 94px;
        width: 107px;
        border-bottom: 1px solid #E3E3E3;
        border-right: 1px solid #E3E3E3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        &:last-child {
            border-right: none;
        }
    }
    &__row {
        @include for-large-up {
            display: none
        }
    }
}

.customers-desktop {
    @include for-large-up {
        width: 1140px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 106px;
    }
    display: none;
}