.order {
    padding: 50px 15px;
    background-color: $color-light;
    @include for-large-up {
        padding: 73px 0 72px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__details {
        max-width: 555px;
    }
    &__illustration {
        max-width: 200px;
        @include for-large-up {
            max-width: 269px;
            margin-right: 121px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-top: 40px;
    }
    &__text {
        margin: 0;
        font-size: 24px;
        line-height: 34px;
        margin-top: 18px;
    }
    &__form {
        @include for-large-up {
            display: flex;
            margin-top: 26px;
        }
    }
    &__email {
        margin-top: 40px;
        background: $color-white;
        border: 1px solid $border-color;
        border-radius: 2px;
        height: 48px;
        width: 100%;
        text-align: center;
        line-height: 13px;
        font-size: 18px;
        @include for-large-up {
            margin-top: 0;
        }
    }
    &::placeholder {
        color: $color-dark;
        font-size: 18px;
        line-height: 13px;
    }
    &__button {
        margin-top: 12px;
        width: 100%;
    }
    .action-button {
        margin-top: 12px;
        @include for-large-up {
            margin-left: 10px;
            margin-top: 0;
            width: 160px;
            flex-shrink: 0;
        }
    }
    &__terms {
        font-size: 14px;
        line-height: 22px;
        color: $text-color-light-grey;
        margin-top: 10px;
    }
    &__terms-link {
        color: $text-color-blue;
    }
}