$color-dark: #2B292D;
$color-light-grey:#E3E3E3;
$color-white:#FFF;
$color-white-light:#F2F2F2;
$color-blue: #0185D0;
$color-light-blue:#00a1c612;
$color-grey:#D5D4D5;
$color-dark-blue:#3141C5;
$color-blue-indigo:#3040C4;
$color-light:#F4F5F7;
$color-yellow-light:#FCF0E366;
$color-white-yellow-light:#F2F2F2;
$color-rose:#F3C6BD;
$color-black:#000;
$text-color-green:#009B4D;
$text-color-light-grey:#2b292d99;
$text-color-orange:#F1592B;
$text-color-blue:#3142C6;
$text-color-black:#000;
$text-color-white:#FFF;
$text-color-dark: #2B292D;
$border-color:#2B292D33;
$border-color-main:#2B292D26;
$border-color-light:#00000026;